/* styles.css */

/* 设置页面的全局样式 */
body {
    font-family: 'Arial', sans-serif;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    padding-top: 50px;
}

/* 软件库块容器更新为单列显示 */
.软件库1级容器class {
    width: 100%; /* 设置容器宽度为页面宽度 */
    max-width: 600px; /* 最大宽度 */
    height: calc(100vh - 200px); /* 高度减去导航栏的高度 */
    overflow-y: auto; /* 设置垂直滚动 */
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* 内容纵向排列 */
    box-sizing: border-box;
    position: relative;
}

/* 软件库块的样式更新为竖排显示 */
.软件库块class {
    width: 100%; /* 宽度为 100% */
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
    overflow: hidden;
}
