body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f4ff; /* 全局背景颜色 */
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 0;
  background-color: #f0f4ff; /* 顶部背景颜色 */
  position: fixed;
  top: 0;
  z-index: 10;
  height: 7vh; /* 调整为占屏幕高度的 7% */
}

.logo {
  font-size: 1.2em;
  font-weight: normal;
  text-align: left;
  padding-left: 10px;
  margin: 0;
}

.content-container {
  flex: 1;
  width: 100%;
  max-width: 600px;
  margin: 0;
  padding: 0;
  background-color: #f0f4ff; /* 中间内容背景颜色 */
  overflow-y: auto;
  box-sizing: border-box;
  margin-top: 7vh; /* 使内容与 header 紧贴 */
  margin-bottom: 7vh; /* 使内容与 footer 紧贴 */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content-container::-webkit-scrollbar {
  display: none;
}

.list-container {
  width: 100%;
  max-width: 600px;
  padding: 0;
  box-sizing: border-box;
}

.software-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  max-width: 600px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #f0f4ff;
}

.software-item:hover {
  background-color: #e0e0e0;
}

.text-logo-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.software-text {
  font-size: 1em;
  text-align: left;
  margin-left: 10px;
}

.software-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.load-time {
  font-size: 0.8em;
  color: #888;
  text-align: right;
  white-space: nowrap;
  margin-left: 15px;
  margin-right: 20px;
}

.content-frame {
  width: 100%;
  height: calc(100vh - 14vh); /* 动态计算内容区域高度 */
  border: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  padding: 0;
  background-color: #f0f4ff; /* 底部背景颜色 */
  position: fixed;
  z-index: 10;
  bottom: 0;
  height: 7vh; /* 调整为占屏幕高度的 7% */
  justify-content: space-around;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-item img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.footer-text {
  font-size: 0.6em;
}
